<?xml version="1.0" encoding="utf-8" ?>
<appconfiguration>
  <authentication tokenExpiredAfterInMinute="20" ></authentication>
  <paging pageSize="10"></paging>
  <databases>
    <clear />
    <add name="DefaultConnection" database="MyERP" server="." port="1433" userName="sa" password="Aa123456" dbType="MSSQL" default="true"></add>
  </databases>
  <localization defaultLanguageCode="en"></localization>
  <uitest reportTemplate="templates/report.xlsx" notificationReceiver="thanhtuit27@gmail.com" zipFile="report_{0}.zip" environtmenFile="environments.xml" basePath="C:\data\projects\myERP\api\App.UI.Test\config\" baseOutput="C:\data\projects\myERP\api\App.UI.Test\output\" timeout="10"></uitest>
  <mail server="smtp.gmail.com" port="587" ssl="true" username="thanhtuit27@gmail.com" password="pwd" displayName="No-reply" defaultSender="thanhtuit27@gmail.com" />
  <folder mailTemplate="templates/email/" baseResourceFolder="C:\data\projects\myERP\api\App.UI.Test/resources/"></folder>
</appconfiguration>
