<div class="unauthorized-mode">
    <div class="container body">
      <div class="main_container">

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav class="" role="navigation">
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                </li>
              </ul>
            </nav>
          </div>

        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col content-region" role="main">
          <error-message></error-message>
          <router-outlet></router-outlet>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <page-footer></page-footer>
        <!-- /footer content -->
      </div>
    </div>
</div>
    