<div *ngIf="!!userProfile && displayMode === ProfileDisplayMode.Quick" class="user-quick-profile">
  <div class="profile_pic">
    <img src="app/resources/themes/gentellela/images/img.jpg" alt="..." class="img-circle profile_img">
  </div>
  <div class="profile_info">
    <span>Welcome,</span>
    <h2>{{userProfile.firstName}} {{userProfile.lastName}}</h2>
  </div>
</div>
<div *ngIf="!!userProfile && displayMode === ProfileDisplayMode.AvatarAndNameQuick" class="user-quick-profile">
  <a href="javascript:;" data-toggle="dropdown" class="user-profile dropdown-toggle" aria-expanded="false">
    <img src="app/resources/themes/gentellela/images/img.jpg" alt="">{{userProfile.firstName}} {{userProfile.lastName}}
    <span class=" fa fa-angle-down"></span>
  </a>
  <ul class="dropdown-menu dropdown-usermenu pull-right">
    <li><a href="javascript:;">  Profile</a>
    </li>
    <li>
      <a href="javascript:;">
        <span class="badge bg-red pull-right">50%</span>
        <span>Settings</span>
      </a>
    </li>
    <li>
      <a href="javascript:;">Help</a>
    </li>
    <li><a (click)="onLogOutClicked();" title="Log Out"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
    </li>
  </ul>
</div>